<div class="container-fluid main-home-wrapper">
  <div class="row">
    <div class="col-12">
      <h1 class="home-header">Welcome to My Homepage</h1>

      <h3>Today is {{ date | date: 'dd/MM/YYYY, HH:mm'}}h</h3>

      <p>This is a basic homepage with some content. You can customize it as you like.</p>

      <mat-progress-bar [mode]="progressMode" [value]="progressBarPercentage" color="accent"></mat-progress-bar>
    </div>
  </div>
  <div class="row">
    <div class="col-12 p-0">
      <app-footer></app-footer>
    </div>
  </div>
</div>
