<!-- <div>
  <h1 class="header-style">Welcome to {{title}} SMX Students to Angular Course</h1>
  <h3>Hello {{name}}</h3>
  <label for="name">Enter your name: </label>
  <input type="text" id="name" [(ngModel)]="name">
</div>
<div>
  <app-home></app-home>
</div>
<div>
  <app-book></app-book>
</div> -->

<div class="container-fluid">
  <div class="row">
    <div class="col-12 p-0">
      <app-header></app-header>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
