.footer-icons {
  font-size: 55px;
  margin-right: 15px;
  color: #4b4949;
}

.footer-wrapper {
  position: fixed;
  // margin-bottom: 3em;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #e8c2ee;
  padding: 3em;
  z-index: 2;
}
